# Module 11 - Python Type Errors and Exception Handling

### Python Type Errors Exercises

In [1]:
# SyntaxError

print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3189066011.py, line 3)

In [2]:
print('hello world')

hello world

In [3]:
# NameError

print(age)

NameError: name 'age' is not defined

In [4]:
# Name error correction:

age = 25
print(age)

25

In [5]:
# IndexError

numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [6]:
# ModuleNotFoundError

import maths

ModuleNotFoundError: No module named 'maths'

In [8]:
# ModuleNotFoundError correction

import math

In [9]:
# AttributeError

import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [10]:
# AttributeError correction

math.pi

3.141592653589793

In [12]:
# KeyError

users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['county']

KeyError: 'county'

In [13]:
# KeyError correction

users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['country']

'Finland'

In [14]:
# TypeError

4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
#TypeError correction

'3' + '4'

'34'

In [17]:
# ImportError

from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [18]:
# ImportError correction

from math import pow
pow(2,3)

8.0

In [19]:
# ValueError

int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [20]:
# ValueError corrrection

int('12')

12

In [21]:
# ZeroDivisionError

1/0

ZeroDivisionError: division by zero

In [22]:
# ZeroDivisionError correction

0/1

0.0

### Exception Handling/ Packing Unpacking Exercises:

In [6]:
# names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']. Unpack the first five countries and store them in a variable nordic_countries, store Estonia and Russia in es, and ru respectively.

names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']

*nordic_countries, es, ru = names

print(nordic_countries, '\n', es, '\n', ru)

['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']
 Estonia
 Russia